<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Node App</title>
</head>
<body>
  <h1> Live Car Data </h1>
  <video  width="800" height="300" autoplay controls />
    <source src="D:/New folder/Desktop/Nodejs/website/CarParking(Major project-1)/video/car.mp4" type="video/mp4">
 </video>
</body>
</html>