<div class="menu-items">
                      <i class="fa-solid fa-house"></i>
                      <a href="/">Home</a>
                    </div>
                 
                    <div class="menu-items">
                      <i class="fa-solid fa-right-from-bracket"></i>
                      <a href="/logout">Logout</a>
                    </div>